@model List<CreateAPost.Models.Friendship> 
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var user in Model)
{
    <div class="alert alert-success" role="alert">
        @user.FriendUser.UserName
        <button data-user-id ="@user.FriendUser.Id"class="btn btn-danger js-toggle-friends">Add friend</button>
    </div>


}

@section scripts{
    <script>
        $(document).ready(function() {
            $(".js-toggle-friends").click(function(e) {
                var button = $(e.target);
                $.post("/api/friendship", { FriendId: button.attr("data-user-id") })
                    .done(function() {
                        button.removeClass("btn-danger").addClass("btn-info").text("Friend");
                    })
                    .fail(function() {
                        alert("WRONG KRIVO BUDALO");
                    });
            });
        });
    </script>
}