@using System.Globalization
@model CreateAPost.ViewModel.PostViewModel
    

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
@if (Model.UserAuth)
{
    foreach (var post in Model.UsersPosts)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="details">
                    <span class="name">@post.User.UserName</span>
                    <span class="datetime">@Convert.ToString(post.DateTime, CultureInfo.InvariantCulture)</span>
                </div>
                <div class="post">@post.Text</div>
                <div class="like">
                    <a class="btn btn-primary glyphicon glyphicon-hand-up"></a>
                </div>
            </div>
        </div>
    }
}
</div>
